build
.project
.buildpath
.cache
.settings
.externalToolBuilders
.project_cache
.vagrant
boxes
.nucleon
share/log/corl
share/log/puppet
share/log/puppet/graphs
share/log/traces
share/log/profiles
share/lib/puppet
share/log/php/traces
share/log/php/profiles
share/lib/puppet/reports
share/lib/puppet/state
gems/corl
gems/nucleon
config/identities/*/
!config/identities/vagrant/
www/drupal/ts.loc
